@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


$text-normal-size: 1rem;
$text-normal-weight: 400;
$text-bold-weight: 700;
$text-heading-weight: 800;
$text-heading-size: 24px;
$font-family: 'Manrope', sans-serif;

//font sizes
$font-size-xs: 0.75rem; // 12px
$font-size-s: 0.875rem; // 14px
$font-size-m: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-xxl: 1.5rem; // 24px

