

// Neutral colors
$neutral-50: #ffffff;   // white
$neutral-100: #f6f6f7;  // light-gray
$neutral-300: #e9ebed;  // medium-gray
$neutral-800: #181a1c;  // dark-gray
$neutral-900: #000000b3; // charcoal

// Brand colors
$primary: #31a855;      // medium-green
$primary-light: #bef9c6; // light-green
$accent: #8efbf7;       // light-cyan
$secondary: #01484708;  // dark-blue

$background: $neutral-100;